@page
@model WebAppStudies.Pages.ReadWebApiModel
@{
    ViewData["Title"] = "Study ModelList";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@attribute [IgnoreAntiforgeryToken]
<!-- Page list-of-quotes -->
<div class="container px-4 py-4" id="list-of-quotes">
    <h2 class="pb-2 border-bottom">Communication with external WebApi</h2>

    <p>Below are some Albums read from external WebApi</p>
    @foreach (var item in Model.Albums)
    {
        <div class="row mb-2 text-center">
            <div class="col-md-10 themed-grid-col">
                @item.Name
                <div class="col-md-16  text-end">@item.MusicGroup?.Name</div>
            </div>
        </div>
    }

    <!-- inital template that can be easily hidden -->
    <div class="d-none">
        <h2 class="pb-2 border-bottom">TEMPLATE</h2>
        <div class="row mb-2 text-center">
            <div class="col-md-10 themed-grid-col">
                Before you marry a person, you should first make them use a computer with slow Internet to see who they really are.
                <div class="col-md-16  text-end">Will Ferrell</div>
            </div>
            <div class="col-md-2 themed-grid-col">
                <a href="#" class="btn btn-success btn-sm" type="button">View</a>
            </div>
        </div>
    </div>
</div>
      


